

section {
    margin: 10px 0;
}














/* DEBUG */
.container {
    min-height: 500px;
    border: 2px dotted black;
}

.row {
    border: 1px rgb(67, 139, 0) solid;
}

[class*="col"] {
    height: 50px;
    background-color: #006cfa;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
}